

    <div class="container">
        <div class="row row-content" ng-controller="dishDetailController">

            <div class="col-xs-12" ng-if="!showDish">
            <h3>{{message}}</h3>
            </div>
            <div class="col-xs-12" ng-if="showDish">
              <button class="btn btn-xs btn-primary pull-right" type="button" ui-sref="app.menu">Back to Menu
              </button>
                <ul class="media-list" >
                  <li class="media-list">
                    <div class="media-left media-middle">
                      <a href="#">
                        <img class="media-object img-thumbnail"
                          ng-src={{dish.image}} alt="Uthappizza">
                      </a>
                    </div>
                    <div class="media-body">
                      <h2 class="media-heading">{{dish.name}}
                       <span class="label label-danger">{{dish.label}}</span>
                       <span class="badge">{{dish.price | currency}}</span></h2>
                      <p>{{dish.description}}</p>
                    </div>
                  </li>
                </ul>
            </div>
            <div class="col-xs-9 col-xs-offset-1">
              <p><strong>Customer Comments</strong>
              Sort by: <input ng-model="sortcriteria" type="text"/>
              </p>
                <ul class="media-list">
                  <li class="media" ng-repeat="comment in dish.comments | orderBy : sortcriteria ">
                    <blockquote>
                      <p>{{comment.rating}} Stars</p>
                      <p>{{comment.comment}}</p>
                      <footer>{{comment.author}}, {{comment.date | date }}</footer>
                    </blockquote>
                  </li>
                </ul>
            </div>

            <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
              <ul class="list-unstyled" ng-show="!dishCommentForm.$invalid">
                <blockquote>
                  <p>{{comment.rating}} Stars</p>
                  <p>{{comment.comment}}</p>
                  <footer>{{comment.author}}, {{comment.date | date }}</footer>
                </blockquote>
              </ul>
                <form class="form-horizontal" role="form" name="dishCommentForm" ng-submit="submitComment()" novalidate>

                  <div class="form-group" ng-class="{'has-error' : dishCommentForm.author.$error.required && !dishCommentForm.author.$pristine}">
                      <label for="author" class="col-sm-2 control-label">Your Name</label>
                      <div class="col-sm-10">
                          <input type="text" class="form-control" id="author" name="author" placeholder="Enter Your Name"
                          ng-model="comment.author" required>
                          <span ng-show="dishCommentForm.author.$error.required && !dishCommentForm.author.$pristine" class="help-block">Your name is required.</span>
                      </div>
                  </div>

                  <div class="form-group">
                    <label for="comment.rating" class="col-sm-2 control-label">Number of Stars</label>
                    <div class="col-sm-10">
                      <div class="input-group">
                        <label class="radio-inline">
                          <input type="radio" name="comment.rating" ng-model="comment.rating" value="1">1
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="comment.rating" ng-model="comment.rating" value="2">2
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="comment.rating" ng-model="comment.rating" value="3">3
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="comment.rating" ng-model="comment.rating" value="4">4
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="comment.rating" ng-model="comment.rating" value="5">5
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="form-group" ng-class="{'has-error' : dishCommentForm.comments.$error.required && !dishCommentForm.comments.$pristine}">
                        <label for="comments" class="col-sm-2 control-label">Your Comments</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="comments" name="comments" rows="12" ng-model="comment.comment" required></textarea>
                        <span ng-show="dishCommentForm.comments.$error.required && !dishCommentForm.comments.$pristine" class="help-block">Your name is required.</span>
                        </div>
                    </div> 
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-disabled="dishCommentForm.$invalid">Submit Comment</button>
                        </div>
                    </div>
                </form>
            </div> 
        </div>

    </div>